<h1>
	<%= @restaurant.name %>
	<p>
	<%= @restaurant.description %>
	</p>
	<p>
	<%= @restaurant.address %>
	</p>
</h1>

<%= link_to "Restaurants", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure?"} %>

<!-- #————from fit_right————Kenny Trionfo Apr 8,2015———— -->
<div id="todo_items_wrapper">
		<%= render @restaurant.dishes %>
	<div id="form">
		<%= render "dishes/form" %>
	</div>
</div>


<h1>Put the dishes index right here. Kenny's first attempt</h1>

<% @dishes.each do |dish| %>
  <h2>
    <%= link_to dish.name, dish %>
  </h2>
  <h2>
    <%= link_to dish.description, dish %>
  </h2>
  <h2>
    <%= link_to dish.yumyuck, dish %>
  </h2>
<% end %>


